*{
    box-sizing: border-box;
}

body,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}

body{
    background-color: rgb(206, 238, 238);
    text-align: center;
}

/* app-main */

.app-main {
    min-height: 90vh;
    background-color: lightcyan;
}
