/* flex */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

/* list */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

