.app-footer {
    height: 10vh;
    font-family: pegasus;
    font-size: 40px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: center;
}

.app-footer a {
    text-decoration: none;
}

.app-footer .logo img {
    width: 50px;
}

.app-footer h2 {
    color: black;
    font-size: 40px;
}

.app-footer small {
    font-size: 20px;
    margin: 0;
}