.add-note-container{
    margin: 20px;
}

.notes-container{
    margin: 30px 120px;
}
.notes-container>*{
    flex-grow: 1;
    min-width: 230px;
}

.note-preview {
    background-color: azure;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    max-width: 270px;
}
.note-preview .img {
    max-width: 250px;
}

.note-title{
padding-bottom: 10px;
}