@font-face{
    font-family:Eurofurence-regular ;
    src: url(/fonts/Eurofurence-regular.ttf);
}

@font-face{
    font-family:Lato-Regular ;
    src: url(/fonts/Lato-Regular.ttf);
}

@font-face{
    font-family:Lato-Bold ;
    src: url(/fonts/Lato-Bold.ttf);
}