:root {
    --clr1: #606060;
    --clr2: #292929;
    --clr3: #ffffff;
    --clr4: #58c93a;
    --clr5: #1d1d1d;
    --clr6: #e1e0e0;
    --clr7: #4f4e4e;
    --clr8: #c2c2c2;
    --clr9: #818181;
    --clr10: #f8f8f8;
    --clr11: #a6a6a6;
    --clr12: #939292;
    --clr13: #e5e5e5;
    --clr14: #1877f2;
    --clr15: #1da1f2;
    --clr16: #2759fe;
    --clr17: #e14a8a;
    --clr18: #1e1e1e;
}